@import './variables.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-lg;
  padding: $space-lg;

  & > h1 {
    margin: 0;
  }

  & > p {
    text-align: center;
  }
}

.tags-container {
  display: flex;
  gap: $space-md;
}

@media (max-width) {
  .header {
    padding: $space-xl;
  }
}
