@import './variables.scss';

$sm: 20rem;
$md: 22rem;
$lg: 24rem;

.column {
  display: flex;
  flex-direction: column;
  width: $md;
  padding: $space-xl 0;
  margin: 0 auto;

  & > *:not(:last-child) {
    margin-bottom: $space-xl;
  }
}

@media (min-width: $screen-md) {
  .column {
    width: $lg;
  }
}

@media (min-width: $screen-lg) {
  .column {
    margin: 0;
    width: $sm;
  }
}

.columns-container {
  display: flex;
  width: max-content;
  margin: 0 auto;

  & > *:not(:last-child) {
    margin-right: $space-xl;
  }
}

.container {
  height: max-content;
  border-radius: $rounded-md;
  box-shadow: $shadow-lg $color-gray-200;
  background-color: $color-white;

  overflow: hidden;
}

.img {
  border-radius: 0;
}

.content {
  padding: $space-lg;

  & > * {
    margin: 0;
  }

  & > h3 {
    margin-bottom: $space-md;
  }

  & > p {
    color: $color-gray-600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.tags-container {
  display: flex;
  margin-bottom: $space-lg;

  & > *:not(:last-child) {
    margin-right: $space-md;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg;
  background-color: $color-gray-50;
}
