@import './variables.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $space-lg;
  margin-bottom: $space-2xl;

  & > h1 {
    margin: 0;
  }
}

.tags-container {
  display: flex;
  gap: $space-lg;
}

@media (max-width) {
  .header {
    padding: $space-xl;
  }
}
