@import './variables.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: $space-2xl;

  & > h1 {
    // to remove the default tag style & add some spacing to the image
    margin: 0;
    margin-top: $space-lg;
  }

  & > *:not(:last-child) {
    margin-bottom: $space-lg;
  }
}

.tags-container {
  display: flex;

  & > *:not(:last-child) {
    margin-right: $space-lg;
  }
}

@media (max-width) {
  .header {
    padding: $space-xl;
  }
}
