@import './variables.scss';

.container {
  max-width: $screen-lg;
  gap: $space-xl;
  margin: 0 auto;
  height: 100vh;

  overflow-y: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  width: 0;
}

.typography-main {
  flex: 1;
  padding: $space-2xl $space-lg;
}

@media (min-width: $screen-sm) {
  .container {
    display: flex;

    overflow: hidden;
  }

  .typography-main {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .typography-main::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: $screen-md) {
  .typography-main {
    padding: $space-xl;
  }
}
