@import './variables.scss';

::selection {
  color: $color-white;
  background: $color-blue-300;
}

::-moz-selection {
  color: $color-white;
  background: $color-blue-300;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  margin: 0;
  color: $color-gray-900;
  font-weight: 900;
}

h1 {
  font-size: $text-2xl;
  margin: $space-2xl 0;
}

h2 {
  font-size: $text-xl;
  margin: $space-xl 0;
}

h3 {
  font-size: $text-lg;
  margin: $space-lg 0;
}

h4 {
  font-size: $text-md;
  margin: $space-md 0;
  color: $color-gray-800;
}

img,
blockquote,
pre > code,
ol,
ul {
  margin: $space-lg 0;
}

p {
  font-size: $text-base;
  color: $color-gray-700;
  line-height: 1.5;
  max-width: 60ch;
  margin: $space-md 0;

  & code {
    background-color: $color-blue-200;
    font-family: $font-tertiary;

    &::before {
      content: '`';
    }

    &::after {
      content: '`';
    }
  }
}

i {
  font-weight: 300;
  font-style: italic;
}

small {
  font-size: $text-sm;
  color: $color-gray-500;
}

ul,
ol {
  margin-left: calc(#{$space-xl} + #{$space-lg});
  color: $color-gray-700;
}

li > p {
  margin-left: $space-sm;
}

@media (min-width: $screen-md) {
  ul,
  ol {
    margin-left: calc(#{$space-xl} + #{$space-xl});
  }
}

ul {
  list-style-type: unset;
}

ol {
  list-style-type: numbers;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: $rounded-md;
  margin: $space-lg 0;
}

blockquote {
  position: relative;

  display: flex;

  background-color: $color-blue-100;
  padding: $space-lg $space-3xl;
  border-radius: $rounded-md;
  quotes: '“' '”';

  color: $color-gray-800;

  overflow: hidden;

  & > p {
    margin: 0;
  }
}

blockquote::before {
  color: $color-blue-200;
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  font-family: $font-tertiary;
  content: open-quote;
  font-size: $text-4xl;
}

pre > code {
  // override the default lib style
  padding: $space-lg !important;
  border-radius: $rounded-md;
  font-family: $font-tertiary;
  font-size: $text-sm;
}

article > *:first-child {
  margin-top: 0;
}
